.more_email {
  width: 400px;
  height: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #313133;
  background: #fff;
  background: linear-gradient(90deg, rgb(237, 237, 237) 0%, #fafafa 100%);
  border: none;
  border-radius: 5px;
  box-shadow: 12px 12px 24px rgba(255, 252, 252, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 8px;
  margin: calc(5px /2) 0px 15px 0px;
  margin-top: 60px;
  }


.more_num {
  width: 60px;
  height: 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  justify-content: center;
  text-align: center;
  color: #393a3d;
  background: #fff;
  background: linear-gradient(90deg, rgb(237, 237, 237) 0%, #fafafa 100%);
  border: none;
  border-radius: 12px;
  box-shadow: 12px 12px 24px rgba(255, 252, 252, 0.1);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 8px;
  margin: 15px 0px;
}

#label_num {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #121212;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 10px;
}


@media (max-width: 700px) {
  .more_email {
    font-size: 17px;
    width: 90%;
    margin-bottom: 35px;
  }

  #label_num {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #121212;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 10px;
  }

  .more_num {
    width: 40px;
    font-size: 20px;
  }
}