@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Zilla+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;500;600;700&family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}


body {
    background-color: #F1BBBA;
    font-family: Trebuchet MS, Helvetica;
}

header {
    width: 80%;
    padding: 10px 10%;
    background: transparent;
    float: left;
    position: fixed;
    z-index: 100;
}

#logo {
    width: 100%;
}

header #logo {
    color: #fff;
    cursor: pointer;
}

.title_logo {
    width: 50px;
    float: left;
}

.title {
    font-size: 2.2em;
    line-height: 45px;
    font-family: 'Whisper', serif;
    margin-left: 15px;

}


@media (min-width: 701px) {
    #logo {
        float: left;
        font-size: 1.1em;
        width: 30%;
    }

    #nav {
        text-align: right;
        float: right;
        width: 60%;
        line-height: 45px;
    }

    #nav > a {
        margin-right: 5%;
    }
}

@media (max-width: 700px) {
    header {
        width: 100%;
        padding: 0;
    }

    #logo {
        width: 300px;
        margin: 15px calc((100% - 250px) / 2);
        margin-top: 15px;
        font-size: 1.5em;
        justify-content: center;
    }

    header #logo span {
        margin-left: 20px;
        justify-content: center;
        width: 100%;
        font-size: 1.9em;
    
    }

    #nav a {
        font-size: 0.8em;
    }

    #nav {
        text-align: center;
        float: left;
        width: 100%;
        margin-top: 10px;
    }



    #nav > a:not(:last-child) {
        margin-right: 3%;
    }
}

#nav {
    font-size: 1em;
    font-family: 'Montserrat', serif;
    line-height: 45px;
}

#nav > a {
    color: #fff;
    text-decoration: none;
}

#nav > a:hover {
    color: #e6e6e6;
    text-decoration: underline;
}




/*head*/

.fixed {
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #FF69B4;
}

.fixed #nav a {
    color: #FF69B4;
}

.fixed #nav a:hover {
    color: #ff83c1;
    cursor: pointer;
}


#b_verif {
    color: #fafafa;
    width: 130px;
    height: 26px;
    border-radius: 8px;
    background-color: #ff3b3b;
}

.b_verif_fixed {
    background-color: red;
}

/*home*/

#top {
    width: 100%;
    height: 1000px;
    background-image: url(../images/top_background3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    justify-content: center;

}

.social_list {
    display: flex;
    position: relative;
    padding-top: 85vh;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.social_item {
    width: 40px;
}

.icon_link {
    width: 40px;
}



/*catalog
background-color: #F1BBBA;
background-color: linear-gradient(to top, rgba(241, 187, 186, 1), rgba(241, 187, 186, 0));
*/

.catalog_list {
    background: linear-gradient(to top, rgba(241, 187, 186, 1) 86%, rgba(241, 187, 186, 0));
    width: 100%;
    height: 1500px;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*gap: calc((100% - 1008px) / 2);*/
    gap: 50px 75px;
    margin-top: -250px;
}


.card {
    margin-top: 200px;
    display: flex;
    width: 452px;
    height: 585px;
    justify-content: center;
}

.card_img1-1 {
    border-radius: 18px;
    background-image: url(../images/card1.png);
    width: 408px;
    height: 524.92px;
    float: left;
    position: absolute;
    background-size: 100%;
}

.card_img1 {
    border-radius: 18px;
    background-image: url(../images/card1-1.gif);
    width: 408px;
    height: 524.92px;
    float: left;
    position: absolute;
    background-size: 100%;
}

.card_img2 {
    border-radius: 18px;
    background-image: url(../images/card2.png);
    width: 408px;
    height: 524.92px;
    float: left;
    position: absolute;
    background-size: 100%;
}

.card_img3 {
    border-radius: 18px;
    background-image: url(../images/card3.png);
    width: 408px;
    height: 524.92px;
    float: left;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
}


@media (max-width: 700px) {
    .card_img1 {
        width: 269px;
        height: 346.08px;
    }

    .card_info {
        padding-top: 230px;
        position: relative;
        justify-content: center;
        text-align: center;
    }
}

.card_info {
    padding-top: 550px;
    position: relative;
    justify-content: center;
    text-align: center;
}

.card_category {
    justify-content: center;
    font-family: 'Maitree', serif;
    font-size: 1.5em;
}

.card_price {
    justify-content: center;
    font-family: 'Maitree', serif;
    font-size: 1.8em;
    font-weight: 500;
    padding-bottom: 20px;
}

.card_price2 {
    justify-content: center;
    font-family: 'Maitree', serif;
    font-size: 1.8em;
    font-weight: 600;
    padding-bottom: 20px;
}

.card_ship {
    font-size: 1.5em;
    font-family: 'Materee' serif;
}

.input_mail {
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .catalog_list {
        background: linear-gradient(to top, rgba(241, 187, 186, 1) 89%, rgba(241, 187, 186, 0));
    }

    .card {
        margin-top: 36px;
    }

    .card_img1 {
        width: 269px;
        height: 346.08px;
    }

    .card_img1-1 {
        width: 269px;
        height: 346.08px;
    }

    .card_img2 {
        width: 269px;
        height: 346.08px;
    }

    .card_img3 {
        width: 269px;
        height: 346.08px;
    }

    .card_info {
        padding-top: 355px;
        position: relative;
        justify-content: center;
        text-align: center;
    }

    .card_price {
        padding-bottom: 0px;
    }
}


/*footer*/

#footer_main {
    margin-top: 420px;
    width: 80%;
    height: 500px;
    padding: 0px 10%;
    float: right;
}

#more_footer {
    margin-top: 270px;
    width: 80%;
    height: 500px;
    padding: 0px 10%;
    float: right;
}


.footer_top {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-bottom: 90px;
}

.footer_top_logo {
    width: 70px;
    height: 70px;
    justify-content: center;
    background-size: 100%;
    margin: 5px 0px;
    float: left;
}

.footer_top_img {
    width: 811px;
    height: 78px;
    float: right;
    background-size: 100%;
    margin: 1px 0px;
    border-radius: 8px;
}


.footer_bottom {
    width: 100%;
    height: 220px;
}

.footer_bottom_img {    
    width: 220px;
    height: 220px;
    position: relative;
    float: left;
    background-size: 100%;
    border-radius: 18px;
}


.footer_title {
    color: #FF69B4;
    margin-left: 50px;
    font-size: 3em;
    line-height: 80px;
    font-family: 'Whisper', serif;
}

.footer_social_list {
    display: flex;
    width: calc(100% - 440px);
    height: 220px;
    line-height: 250px;
    gap: 50px;
    justify-content: center;
    position: relative;
    float: left;
}

.footer_social_item {
    width: 50px;
}

.footer_icon_link {
    color: black;
    width: 50px;
}

.footer_menu {
    float: right;
    width: 220px;
    height: 220px;
    float: right;
    font-family: 'Roboto', serif;
}

.footer_menu_link {
    font-size: 1.2em;
    color: rgb(26, 26, 26);
    display: flex;
    width: 220px;
    height: calc(220px / 5);
    line-height: calc(220px / 5);
    font-family: "Roboto", serif;
}

.footer_copyright {
    color: rgba(57, 57, 57, 0.641);
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-family:'Roboto',  serif;
    margin-top: 30px;
}

@media (max-width: 700px) {

    #footer_main {
        margin-top: 1168px;
        width: 100%;
        height: 500px;
        padding: 0px;
        float: right;
    }

    #more_footer {
        margin-top: 20px;
        width: 100%;
        height: 410px;
        padding: 0px;
        float: right;
    }

    .footer_top_img {
        height: 50px;
        width: 100%;
        float: left;
        border-radius: 0px;
        position: relative;
    }

    .footer_top_logo {
        width: 0px;
    }

    .footer_title {
        width: 0px;
        font-size: 0px;
    }


    .footer_bottom_img {
        width: 150px;
        height: 150px;
        line-height: 220px;
        margin-top: calc((220px - 150px) / 2);
        margin-left: calc((100% - 300px) / 3);
    }

    .footer_social_list {
        width: 0%;
    }

    .footer_icon_link {
        width: 0px;
    }

    .footer_menu {
        width: 150px;
        height: 150px;
        margin-top: calc((220px - 150px) / 2);
        margin-right: calc((100% - 300px) / 3);
    }

    .footer_menu_link {
        width: 150px;
        font-size: 0.9em;
        height: calc(150px / 5);
        line-height: calc(150px / 5);
    }

    .footer_copyright {
        margin-top: 10px;
    }
}




/*time*/

#time_title {
    width: 100%;
    text-align: center;
    padding-top: 75vh;
    font-family: 'Ubuntu' serif;
    font-size: 1.2em;
}

@media (max-width: 700px) {
    #time_title {
        font-size: 0.86em;
    }
}

.timer {
    width: 100%;
}

.timer__items {
    display: flex;
    font-size: 48px;
    width: 100%;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 20px;
  }

  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
  }

  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
  }

  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }